

.grid-item {
  width: auto;
  height: auto;
}

.grid-lines {
  border: 1px dashed black;
}

.grid-container {
  display: grid;
  gap: 0;
  width: 800px;
  height: 800px;
  border: 2px solid black;
}

.blue {
  background-color: blue;
}